/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Raleway", sans-serif;
}

button {
  border: none;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
}

header .container {
  padding: 0 2em 0 2em;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  box-shadow: 0 3px 6px #00000029;
}
@media (min-width: 800px) {
  header .container {
    justify-content: space-between;
    align-items: center;
  }
}
header .container .logo {
  font-family: "Raleway", cursive;
  color: #08A6E4;
  font-size: 2em;
  font-weight: 300;
  padding: 0.5em;
}
@media (min-width: 800px) {
  header .container .logo {
    font-size: 3em;
  }
}
header .container #burger-input {
  display: none;
}
header .container #burger-input:checked + #burger-icon .menu-close {
  display: block;
}
header .container #burger-input:checked ~ .navigation {
  display: block;
}
header .container #burger-input:checked + #burger-icon .menu-open {
  display: none;
}
header .container #burger-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  font-size: 2em;
  padding: 0.5em;
  color: #08A6E4;
}
@media (min-width: 800px) {
  header .container #burger-icon {
    display: none;
  }
}
header .container #burger-icon .menu-close {
  display: none;
}
header .container .navigation {
  display: none;
  width: 100%;
  position: absolute;
  top: 5.5em;
  left: 0;
  padding-bottom: 1.5em;
  background-color: white;
  box-shadow: 0 15px 10px -15px #00000029;
}
@media (min-width: 800px) {
  header .container .navigation {
    padding-bottom: 0;
    background-color: transparent;
    position: static;
    width: auto;
    display: block;
    box-shadow: none;
  }
}
header .container .navigation .menu {
  text-align: center;
}
header .container .navigation .menu .menu__item {
  color: #707070;
  font-weight: bold;
  padding: 0.9em 0;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  line-height: 1.5em;
}
@media (min-width: 800px) {
  header .container .navigation .menu .menu__item {
    padding: 2.5em 1.2em;
    font-size: 0.9em;
    border-bottom: 4px solid transparent;
  }
  header .container .navigation .menu .menu__item:hover {
    background-color: white;
    cursor: pointer;
    color: #000000;
    border-bottom: 4px solid #08A6E4;
  }
}
@media (min-width: 800px) and (min-width: 1200px) {
  header .container .navigation .menu .menu__item {
    padding: 2.5em 2.5em 2.5em 2.5em;
  }
}
@media (min-width: 800px) {
  header .container .navigation .menu {
    display: flex;
  }
}

.opening {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", cursive;
}
.opening .opening__title {
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin: 2em 0 0 0;
}
.opening .opening__text {
  font-size: 1.5em;
  text-align: center;
  margin: 1em 3em 2.5em 3em;
}
.opening .opening__button {
  color: #FFFFFF;
  background-color: #08A6E4;
  border-radius: 50px;
  margin: 0 3.5em 0 3.5em;
  box-shadow: 5px 10px 14px #07ACE629;
  padding: 2em 2em;
}
.opening .opening__button .opening__button-text {
  font-size: 1.5em;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .opening .opening__button {
    margin: 0 auto;
    width: 50%;
  }
}
.opening .opening__bg_image .opening__bg_image-main {
  background-size: cover;
  width: 220%;
  transform: translateX(-28%);
}
@media (min-width: 1200px) {
  .opening .opening__bg_image .opening__bg_image-main {
    width: 100%;
    transform: translateX(0%);
  }
}

.statistic__title {
  font: normal normal normal 2.25em Raleway;
  color: var(--main-font-color);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 4em 0;
}

.statistic_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 800px) {
  .statistic_container {
    flex-direction: initial;
  }
}

.statistic_column {
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .statistic_column {
    display: inline-block;
  }
}
.statistic_column .statistic_circle_one {
  margin: 0 auto;
  background-color: #FB3B64;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.statistic_column .statistic_circle_two {
  margin: 0 auto;
  background-color: #08A6E4;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.statistic_column .statistic_circle_three {
  margin: 0 auto;
  background-color: #55DFB4;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.statistic_icon {
  margin-left: 45px;
}

.statistic_number {
  color: var(--main-font-color);
  letter-spacing: 6px;
  font: normal normal 800 20px/24px Raleway;
  text-align: center;
  margin: 20px;
}

.statistic_text {
  color: #A5A5A5;
  font: normal normal normal 1em Raleway;
  text-align: center;
  width: 130px;
  margin: 0 auto;
}

.benefits_main {
  background-color: #F7F7F7;
}

.benefits {
  padding: 1em;
}

/*-----------------------FIRST_LABEL*/
.benefits_first_tabel {
  background-color: #FFFFFF;
  border: 2px solid #E8E9ED;
  border-radius: 5px;
  padding: 2em;
  margin-bottom: 2em;
}
@media (min-width: 800px) {
  .benefits_first_tabel {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
}

.square_laptop {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
@media (min-width: 800px) {
  .square_laptop {
    width: 50%;
    margin: 0;
    position: relative;
    top: 7px;
  }
}
.square_laptop .benefits_square {
  background-color: #FB3B64;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  left: 49px;
}
@media (min-width: 800px) {
  .square_laptop .benefits_square {
    width: 150px;
    height: 150px;
  }
}
.square_laptop .benefits_laptop_icon {
  width: 192px;
  height: 108px;
  transform: rotate(-45deg);
  position: relative;
  top: 54px;
  right: 61px;
}
@media (min-width: 800px) {
  .square_laptop .benefits_laptop_icon {
    width: 256px;
    height: 144px;
    top: 62px;
    right: 73px;
  }
}

@media (min-width: 800px) {
  .benefits__items-first {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
.benefits__items-first .benefits_title {
  font: normal normal normal 2.2em Raleway;
  display: flex;
  flex-direction: column;
}
.benefits__items-first .benefits_text {
  font: normal normal normal 1em Open Sans;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
}
@media (min-width: 800px) {
  .benefits__items-first .benefits_red_line {
    border-bottom: 4px solid #FB3B64;
    margin-bottom: 1.5em;
  }
}

/*-----------------------SECOND_LABEL*/
.benefits__second_tabel {
  background-color: #FFFFFF;
  border: 2px solid #E8E9ED;
  border-radius: 5px;
  padding: 2em;
  margin-bottom: 2em;
}
@media (min-width: 800px) {
  .benefits__second_tabel {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.circle_phone {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
@media (min-width: 800px) {
  .circle_phone {
    margin-bottom: 0;
    width: 50%;
    position: relative;
  }
}
.circle_phone .benefits__circle {
  background-color: #08A6E4;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  left: -14px;
}
@media (min-width: 800px) {
  .circle_phone .benefits__circle {
    width: 170px;
    height: 170px;
  }
}
.circle_phone .benefits__phone_icon {
  width: 175px;
  position: relative;
  top: 11px;
  right: -4px;
}
@media (min-width: 800px) {
  .circle_phone .benefits__phone_icon {
    width: 233px;
  }
}

@media (min-width: 800px) {
  .benefits__items-second .benefits__blue_line {
    border-bottom: 4px solid #08A6E4;
    margin-bottom: 1.5em;
  }
}
@media (min-width: 800px) {
  .benefits__items-second {
    width: 50%;
  }
}
.benefits__items-second .benefits__title-second {
  font: normal normal normal 2.2em Raleway;
  display: flex;
  flex-direction: column;
}
.benefits__items-second .benefits__text-second {
  font: normal normal normal 1em Open Sans;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
}

/*-----------------------THIRD_LABEL*/
@media (min-width: 800px) {
  .benefits__third_tabel {
    display: flex;
    justify-content: space-between;
  }
}

.benefits__items-third {
  background-color: #FFFFFF;
  border: 2px solid #E8E9ED;
  border-radius: 5px;
  padding: 0 2em 0 2em;
}
@media (min-width: 800px) {
  .benefits__items-third {
    width: 60%;
    padding: 2em;
  }
}
.benefits__items-third .benefits__title-third {
  font: normal normal normal 2.2em Raleway;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
@media (min-width: 800px) {
  .benefits__items-third .benefits__title-third {
    margin-top: 0;
  }
}
.benefits__items-third .benefits__text-third {
  font: normal normal normal 1em Open Sans;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
}
@media (min-width: 800px) {
  .benefits__items-third .benefits__green_line {
    border-bottom: 4px solid #55DFB4;
  }
}

.square_trumpet {
  display: flex;
  justify-content: center;
  background-color: #55DFB4;
  border-radius: 7px;
  margin-top: -10px;
}
@media (min-width: 800px) {
  .square_trumpet {
    width: 37%;
    margin-top: 0;
  }
}
.square_trumpet .benefits__trumpet {
  position: relative;
  left: -14px;
  margin-top: 2em;
  margin-bottom: 2em;
}
.square_trumpet .benefits__trumpet_icon {
  position: relative;
  top: 28px;
  width: 265px;
}

/*-------------------------------------------------------PRICING*/
.pricing {
  background-color: #FFFFFF;
  margin-bottom: 5em;
}

.pricing_main_title {
  display: flex;
  justify-content: center;
  font: normal normal normal 36px/42px Raleway;
  margin: 1.5em 0 0.5em 0;
}

.pricing-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1352px;
  margin: 0 1em 0 1em;
}
@media (min-width: 800px) {
  .pricing-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}

/*-----------------------BASIC*/
.pricing_basic_main {
  margin: 0 1.5em 0 1.5em;
}
@media (min-width: 800px) {
  .pricing_basic_main {
    width: 30%;
  }
}

.pricing_basic {
  border: 1px solid #FB3B64;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 800px) {
  .pricing_basic {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    height: 28em;
  }
}

.pricing_label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  margin-left: 35px;
}
@media (min-width: 800px) {
  .pricing_label {
    margin: 0 auto;
  }
}

.pricing_title {
  display: flex;
  justify-content: center;
  font: normal normal bold 20px/1px Raleway;
  margin-top: 50px;
}
@media (min-width: 800px) {
  .pricing_title {
    margin-top: 1.5em;
  }
}

.pricing_number {
  display: flex;
  justify-content: center;
  font: normal normal 300 46px/2px Open Sans;
  margin-top: 50px;
  margin-bottom: 80px;
  color: #FB3B64;
}
@media (min-width: 800px) {
  .pricing_number {
    margin-bottom: 60px;
  }
}

.pricing_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 75%;
  margin-bottom: 35px;
}
@media (min-width: 800px) {
  .pricing_info {
    margin: 0 auto;
  }
}

.pricing_info_line {
  display: flex;
  justify-content: center;
  font: normal normal normal 14px/41px Open Sans;
}
@media (min-width: 800px) {
  .pricing_info_line {
    margin-bottom: 1em;
  }
}

.pricing_checkmark {
  margin-right: 10px;
}

.basic_button {
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border-style: none;
  background-color: #FB3B64;
  color: #FFFFFF;
  margin: -1.5em 0 1.5em 0;
}

/*-----------------------PRO*/
@media (min-width: 800px) {
  .pricing_pro_main {
    width: 30%;
  }
}

.pricing_pro {
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #08A6E4;
  box-shadow: 0 0 10px #07ACE6;
}
@media (min-width: 800px) {
  .pricing_pro {
    display: flex;
    flex-direction: column;
    height: 31em;
    justify-content: space-evenly;
  }
}

.pricing_label_pro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 35px;
  margin-bottom: 40px;
}
@media (min-width: 800px) {
  .pricing_label_pro {
    margin: 0 auto;
  }
}

.pricing_limited_offer {
  font: normal normal bold 0.7em Raleway;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pricing_number_pro {
  display: flex;
  justify-content: center;
  font: normal normal 300 46px/2px Open Sans;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #08A6E4;
}

.pro_button {
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border-style: none;
  background-color: #08A6E4;
  color: #FFFFFF;
  margin-top: -1.5em;
}
/*-----------------------PRREMIUM*/
.pricing_premium_main {
  margin: 0 1.5em 0 1.5em;
}
@media (min-width: 800px) {
  .pricing_premium_main {
    width: 30%;
  }
}

.pricing_premium {
  border: 1px solid #55DFB4;
  margin-top: 20px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
}
@media (min-width: 800px) {
  .pricing_premium {
    display: flex;
    flex-direction: column;
    height: 28em;
    justify-content: center;
  }
}

.pricing_label_premium {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  margin-left: 35px;
  margin-top: -55px;
}
@media (min-width: 800px) {
  .pricing_label_premium {
    margin: 0 auto;
  }
}

.pricing_number_prem {
  display: flex;
  justify-content: center;
  font: normal normal 300 46px/2px Open Sans;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #55DFB4;
}

.premium_button {
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border-style: none;
  background-color: #55DFB4;
  color: #FFFFFF;
  margin: -1.5em 0 1.5em 0;
}
.pricing_button {
  display: flex;
  justify-content: center;
}

.contact {
  padding: 1em;
  background-color: var(--main-bg-color);
  margin-top: 200px;
}

.contact_container {
  margin: 0 auto;
  max-width: 1352px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .contact_container {
    display: flex;
    flex-direction: row;
    margin: auto 0;
  }
}

@media (min-width: 800px) {
  .contact_left_box {
    width: 40%;
    min-width: 22.5em;
  }
}

.contact_title {
  font: normal normal normal 3em Raleway;
  width: 100%;
}

.contact_text {
  font: normal normal normal 1em Open Sans;
  margin-top: 25px;
  margin-bottom: 30px;
}

.contact_item {
  display: flex;
  justify-content: flex-start;
  font: normal normal 1em Open Sans;
  color: #A5A5A5;
  flex-direction: column;
  margin-bottom: 2em;
}
@media (min-width: 800px) {
  .contact_item {
    flex-direction: row;
  }
}

.contact_item_mail {
  display: flex;
  margin-left: 0.5em;
}
.contact_item_mail p {
  margin-left: 1em;
}

.contact_item_phone {
  display: flex;
  margin-left: 0.5em;
}
.contact_item_phone p {
  margin-left: 1em;
}

@media (min-width: 800px) {
  .contact_right_box {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .contact_right_box {
    width: 50%;
  }
}

.contact_label_title {
  font: normal normal bold 11px/15px Open Sans;
  color: #08A6E4;
  letter-spacing: 3px;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: normal normal normal 0.75em Open Sans;
  color: #707070;
}

.send-button {
  display: flex;
  justify-content: flex-end;
}

input[type=text], select, textarea {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid #95989A;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-family: "Nunito Sans", sans-serif;
  resize: none;
}

input[type=submit] {
  width: 226px;
  height: 57px;
  background-color: #08A6E4;
  color: #FFFFFF;
  box-shadow: 0 0 6px #08A6E4;
  border-radius: 40px;
  border-style: none;
  cursor: pointer;
  margin-bottom: 100px;
  font: normal normal bold 13px/18px Open Sans;
}

.checkbox-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 8px;
}

.checkbox-div input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.custom-checkbox .label {
  font-size: 1.2em;
  margin: 0 10px;
}

.custom-checkbox .checkmark {
  width: 24px;
  height: 24px;
  border: 1px solid #95989A;
  display: inline-block;
  border-radius: 4px;
  background: #FFF url(assets/Checkmark.svg) center/1400% no-repeat;
  transition: background-size 0.2s ease;
}

.custom-checkbox input:checked + .checkmark {
  background-size: 60%;
  transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}

.custom-checkbox input {
  display: none;
}

.footer {
  box-shadow: 0 -5px 40px #00000029;
  background-color: var(--second-bg-color);
  margin: 0 auto;
}

.footer_container {
  margin: 0 auto;
  max-width: 1352px;
  display: flex;
  justify-content: space-between;
  padding: 0 2em 0 2em;
}

.footer_description {
  font: normal normal normal 11px/15px Open Sans;
  margin-top: 8px;
  margin-bottom: 15px;
}

.footer_left {
  margin-top: 20px;
}

.footer_right {
  display: flex;
  align-items: center;
}

.footer_twitter {
  margin-right: 20px;
}

.nav__logo {
  color: #08A6E4;
  font-size: 1.5em;
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */
