$main-bg-color: #FFFFFF;
$second-bg-color: #F7F7F7;

$first-color: #08A6E4;
$second-color: #FB3B64;
$third-color: #55DFB4;

$main-font-color: #000000;
$second-font-color: #707070;
$third-font-color: #A5A5A5;
$fourth-font-color: #13253B;

$first-border-color: #E8E9ED;

$first-shadow-color: #00000029;
$second-shadow-color: #07ACE629;

$contact-line-color: #95989A;
$circle-phone-color: #07ACE6;
$button-second-color-: #EB476E;