.benefits_main {
  background-color: $second-bg-color;
}
.benefits {
  padding: 1em;
}

//od 372width sie psuje

/*-----------------------FIRST_LABEL*/

.benefits_first_tabel {
  background-color: $main-bg-color;
  border: 2px solid $first-border-color;
  border-radius: 5px;
  padding: 2em;
  margin-bottom: 2em;
  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

}

.square_laptop {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  @include tablet {
    width: 50%;
    margin: 0;
    position: relative;
    top: 7px;
  }

  .benefits_square {
    background-color: $second-color;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    left: 49px;
    @include tablet {
      width: 150px;
      height: 150px;
    }

  }

  .benefits_laptop_icon {
    width: 192px;
    height: 108px;
    transform: rotate(-45deg);
    position: relative;
    top: 54px;
    right: 61px;
    @include tablet {
      width: 256px;
      height: 144px;
      top: 62px;
      right: 73px;
    }
  }
}

.benefits__items-first {

  @include tablet {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .benefits_title {
    font: normal normal normal 2.2em Raleway;
    display: flex;
    flex-direction: column;
  }

  .benefits_text {
    font: normal normal normal 1em Open Sans;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
  }

  .benefits_red_line {
    @include tablet {
      border-bottom: 4px solid $second-color;
      margin-bottom: 1.5em;
    }
  }
}

/*-----------------------SECOND_LABEL*/
.benefits__second_tabel {
  background-color: $main-bg-color;
  border: 2px solid $first-border-color;
  border-radius: 5px;
  padding: 2em;
  margin-bottom: 2em;
  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.circle_phone {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;

  @include tablet {
    margin-bottom: 0;
    width: 50%;
    position: relative;
  }

  .benefits__circle {
    background-color: $first-color;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    left: -14px;
    @include tablet {
      width: 170px;
      height: 170px;
    }
  }

  .benefits__phone_icon {
    width: 175px;
    position: relative;
    top: 11px;
    right: -4px;
    @include tablet {
      width: 233px;
    }
  }
}

.benefits__items-second {
  .benefits__blue_line {
    @include tablet {
      border-bottom: 4px solid $first-color;
      margin-bottom: 1.5em;
    }
  }

  @include tablet {
    width: 50%;
  }

  .benefits__title-second {
    font: normal normal normal 2.2em Raleway;
    display: flex;
    flex-direction: column;
    @include tablet {
    }
  }

  .benefits__text-second {
    font: normal normal normal 1em Open Sans;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
  }
}

/*-----------------------THIRD_LABEL*/
.benefits__third_tabel {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.benefits__items-third {
  background-color: $main-bg-color;
  border: 2px solid $first-border-color;
  border-radius: 5px;
  padding: 0 2em 0 2em;
  @include tablet {
    width: 60%;
    padding: 2em;
  }

  .benefits__title-third {
    font: normal normal normal 2.2em Raleway;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    @include tablet {
      margin-top: 0;
    }
  }

  .benefits__text-third {
    font: normal normal normal 1em Open Sans;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
  }

  .benefits__green_line {
    @include tablet {
      border-bottom: 4px solid $third-color;
    }
  }

}

.square_trumpet {
  display: flex;
  justify-content: center;
  background-color: $third-color;
  border-radius: 7px;
  margin-top: -10px;
  @include tablet {
    width: 37%;
    margin-top: 0;
  }

  .benefits__trumpet {
    position: relative;
    left: -14px;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .benefits__trumpet_icon {
    position: relative;
    top: 28px;
    width: 265px;
  }
}

