.footer{
  box-shadow: 0 -5px 40px #00000029;
  background-color: var(--second-bg-color);
  margin: 0 auto;


}
.footer_container{
  margin: 0 auto;
  max-width: 1352px;
  display: flex;
  justify-content: space-between;
  padding: 0 2em 0 2em;
}
.footer_description{
  font: normal normal normal 11px/15px Open Sans;
  margin-top: 8px;
  margin-bottom: 15px;
}
.footer_left{
  margin-top: 20px;
}
.footer_right{
  display: flex;
  align-items: center;
}
.footer_twitter{
  margin-right: 20px;
}
.nav__logo{
  color: $first-color;
  font-size: 1.5em;
  font-weight: 300;
}